In [1]:
import pandas as pd
import os
import glob

In [2]:
houston_crime_files = os.path.join("data/crime_fmt1", "*.xls")

In [3]:
houston_crime_files_list= glob.glob(houston_crime_files)
print(houston_crime_files_list)

['data/crime_fmt1/dec16.xls', 'data/crime_fmt1/jan15.xls', 'data/crime_fmt1/apr18.xls', 'data/crime_fmt1/mar14.xls', 'data/crime_fmt1/dec17.xls', 'data/crime_fmt1/jan12.xls', 'data/crime_fmt1/sep14.xls', 'data/crime_fmt1/mar10.xls', 'data/crime_fmt1/sep16.xls', 'data/crime_fmt1/jan11.xls', 'data/crime_fmt1/jun16.xls', 'data/crime_fmt1/nov15.xls', 'data/crime_fmt1/jul12.xls', 'data/crime_fmt1/jun12.xls', 'data/crime_fmt1/jan10 (1).xls', 'data/crime_fmt1/may14.xls', 'data/crime_fmt1/aug12.xls', 'data/crime_fmt1/may15.xls', 'data/crime_fmt1/feb16.xls', 'data/crime_fmt1/jan18.xls', 'data/crime_fmt1/oct14.xls', 'data/crime_fmt1/oct12.xls', 'data/crime_fmt1/jan16.xls', 'data/crime_fmt1/mar16.xls', 'data/crime_fmt1/oct11.xls', 'data/crime_fmt1/apr17.xls', 'data/crime_fmt1/oct15.xls', 'data/crime_fmt1/jun10.xls', 'data/crime_fmt1/apr15.xls', 'data/crime_fmt1/dec14.xls', 'data/crime_fmt1/may17.xls', 'data/crime_fmt1/may18.xls', 'data/crime_fmt1/oct13.xls', 'data/crime_fmt1/aug11.xls', 'data/crime_fmt1/apr16.xls', 'data/crime_fmt1/aug14.xls', 'data/crime_fmt1/aug13.xls', 'data/crime_fmt1/feb12.xls', 'data/crime_fmt1/sep13.xls', 'data/crime_fmt1/mar18.xls', 'data/crime_fmt1/nov11.xls', 'data/crime_fmt1/apr10.xls', 'data/crime_fmt1/jul10.xls', 'data/crime_fmt1/jan17.xls', 'data/crime_fmt1/apr11.xls', 'data/crime_fmt1/sep17.xls', 'data/crime_fmt1/nov10.xls', 'data/crime_fmt1/jul15.xls', 'data/crime_fmt1/jun15.xls', 'data/crime_fmt1/dec15.xls', 'data/crime_fmt1/mar12.xls', 'data/crime_fmt1/may11.xls', 'data/crime_fmt1/may10.xls', 'data/crime_fmt1/jul16.xls', 'data/crime_fmt1/nov17.xls', 'data/crime_fmt1/mar15.xls', 'data/crime_fmt1/nov13.xls', 'data/crime_fmt1/feb11.xls', 'data/crime_fmt1/aug15.xls', 'data/crime_fmt1/mar11.xls', 'data/crime_fmt1/sep10.xls', 'data/crime_fmt1/feb17.xls', 'data/crime_fmt1/may12.xls', 'data/crime_fmt1/dec11.xls', 'data/crime_fmt1/apr12.xls', 'data/crime_fmt1/nov16.xls', 'data/crime_fmt1/dec12.xls', 'data/crime_fmt1/apr13.xls', 'data/crime_fmt1/jul17.xls', 'data/crime_fmt1/mar13.xls', 'data/crime_fmt1/dec10.xls', 'data/crime_fmt1/sep12.xls', 'data/crime_fmt1/jul14.xls', 'data/crime_fmt1/feb15.xls', 'data/crime_fmt1/nov12.xls', 'data/crime_fmt1/jun11.xls', 'data/crime_fmt1/sep15.xls', 'data/crime_fmt1/jan13.xls', 'data/crime_fmt1/oct17.xls', 'data/crime_fmt1/sep11.xls', 'data/crime_fmt1/may16.xls', 'data/crime_fmt1/dec13.xls', 'data/crime_fmt1/aug16.xls', 'data/crime_fmt1/apr14.xls', 'data/crime_fmt1/mar17.xls', 'data/crime_fmt1/jul11.xls', 'data/crime_fmt1/feb14.xls', 'data/crime_fmt1/may13.xls', 'data/crime_fmt1/aug10.xls', 'data/crime_fmt1/feb10.xls', 'data/crime_fmt1/nov14.xls', 'data/crime_fmt1/feb13.xls', 'data/crime_fmt1/jun17.xls', 'data/crime_fmt1/jun14.xls', 'data/crime_fmt1/aug17.xls', 'data/crime_fmt1/jun13.xls', 'data/crime_fmt1/jul13.xls', 'data/crime_fmt1/oct10.xls', 'data/crime_fmt1/oct16.xls', 'data/crime_fmt1/jan14.xls', 'data/crime_fmt1/feb18.xls']

In [4]:
crime_fmt1_df = pd.concat(map(pd.read_excel, houston_crime_files_list), ignore_index=True)

WARNING *** file size (2752234) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** file size (3078551) not 512 + multiple of sector size (512)
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [5]:
#crime_fmt1_df.head(5)
crime_fmt1_df.dtypes

Date              object
Hour              object
Offense Type      object
Beat              object
Premise           object
BlockRange        object
StreetName        object
Type              object
Suffix            object
# offenses       float64
Block Range       object
Street Name       object
Offenses         float64
# Of Offenses    float64
Unnamed: 1       float64
Field11          float64
# Offenses       float64
# Of             float64
dtype: object

In [6]:
crime_fmt1_df['street_name'] = crime_fmt1_df['Street Name'].combine_first(crime_fmt1_df['StreetName'])
crime_fmt1_df['block_range'] = crime_fmt1_df['Block Range'].combine_first(crime_fmt1_df['BlockRange'])
crime_fmt1_df['offense_count'] = crime_fmt1_df['# Of Offenses'].combine_first(crime_fmt1_df['# offenses']).combine_first(crime_fmt1_df['# Of']).combine_first(crime_fmt1_df['# Offenses'])
crime_fmt1_df.head(10)

,Date,Hour,Offense Type,Beat,Premise,BlockRange,StreetName,Type,Suffix,# offenses,...,Street Name,Offenses,# Of Offenses,Unnamed: 1,Field11,# Offenses,# Of,street_name,block_range,offense_count
0,2016-12-18 00:00:00,18,Aggravated Assault,10H10,Residence or House,6300-6399,BRADY,ST,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRADY,6300-6399,1.0
1,2016-12-19 00:00:00,9,Theft,10H10,Residence or House,4900-4999,BRADY,ST,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRADY,4900-4999,1.0
2,2016-12-19 00:00:00,16,Theft,10H10,"Road, Street, or Sidewalk",100-199,YORK,ST,N,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,YORK,100-199,1.0
3,2016-12-20 00:00:00,8,Theft,10H10,Commercial Parking Lot or Garage,2400-2499,COMMERCE,ST,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMMERCE,2400-2499,1.0
4,2016-12-20 00:00:00,15,Robbery,10H10,"Road, Street, or Sidewalk",3500-3599,CANAL,ST,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CANAL,3500-3599,1.0
5,2016-12-21 00:00:00,7,Theft,10H10,Garage or Carport,2100-2199,RUNNELS,-,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUNNELS,2100-2199,1.0
6,2016-12-21 00:00:00,10,Theft,10H10,Commercial Parking Lot or Garage,2100-2199,RUNNELS,-,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUNNELS,2100-2199,1.0
7,2016-12-21 00:00:00,10,Theft,10H10,Garage or Carport,2100-2199,RUNNELS,-,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUNNELS,2100-2199,1.0
8,2016-12-21 00:00:00,10,Theft,10H10,Apartment Parking Lot,2500-2599,GARROW,-,-,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GARROW,2500-2599,1.0
9,2016-12-21 00:00:00,12,Theft,10H10,Other Parking Lot,300-399,ENNIS,ST,N,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENNIS,300-399,1.0

In [7]:
crime_fmt1_df.drop(columns=['Street Name', 'StreetName','Block Range','BlockRange','# Of Offenses','# offenses','# Of','# Offenses','Unnamed: 1','Field11'])

,Date,Hour,Offense Type,Beat,Premise,Type,Suffix,Offenses,street_name,block_range,offense_count
0,2016-12-18 00:00:00,18,Aggravated Assault,10H10,Residence or House,ST,-,NaN,BRADY,6300-6399,1.0
1,2016-12-19 00:00:00,9,Theft,10H10,Residence or House,ST,-,NaN,BRADY,4900-4999,1.0
2,2016-12-19 00:00:00,16,Theft,10H10,"Road, Street, or Sidewalk",ST,N,NaN,YORK,100-199,1.0
3,2016-12-20 00:00:00,8,Theft,10H10,Commercial Parking Lot or Garage,ST,-,NaN,COMMERCE,2400-2499,1.0
4,2016-12-20 00:00:00,15,Robbery,10H10,"Road, Street, or Sidewalk",ST,-,NaN,CANAL,3500-3599,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1053341,02/28/2018,21,AutoTheft,UNK,"Road, Street, or Sidewalk",ST,-,1.0,QUITMAN ST,1100-1199,NaN
1053342,02/28/2018,9,Aggravated Assault,UNK,Private School,ST,-,1.0,BISSONNET ST,6200-6299,NaN
1053343,02/28/2018,11,Aggravated Assault,UNK,Residence or House,-,W,1.0,SAMHOUPKWY S 315,10100-10199,NaN
1053344,02/28/2018,10,Theft,UNK,Grocery Store or Supermarket Parking Lot,BLVD,-,1.0,W AIRPORT BLVD,11300-11399,NaN
1053345,10/16/2017,23,Rape,UNK,"Hotel, Motel, Inn, Etc.",BLVD,-,1.0,UNIVERSITY BLVD,300-399,NaN

In [8]:
crime_fmt1_df = crime_fmt1_df.rename(columns={'Date': 'occurrence_date', 'Hour': 'occurrence_hour', 'Offense Type':'offense_type','Beat':'beat','Premise':'premise','Suffix':'suffix','Type':'street_type'})
crime_fmt1_df.columns

Index(['occurrence_date', 'occurrence_hour', 'offense_type', 'beat', 'premise',
       'BlockRange', 'StreetName', 'street_type', 'suffix', '# offenses',
       'Block Range', 'Street Name', 'Offenses', '# Of Offenses', 'Unnamed: 1',
       'Field11', '# Offenses', '# Of', 'street_name', 'block_range',
       'offense_count'],
      dtype='object')

In [9]:
crime_fmt1_df = crime_fmt1_df[['occurrence_date', 'occurrence_hour', 'offense_type', 'offense_count', 'beat','premise','block_range','street_name','street_type','suffix']]
crime_fmt1_df.head(5)
crime_fmt1_df.dtypes
occurrence_hour_na_count_fmt1= crime_fmt1_df['occurrence_hour'].isna().sum()

print(occurrence_hour_na_count_fmt1)
crime_fmt1_df.tail(5)
crime_fmt1_df.head(5)

1

,occurrence_date,occurrence_hour,offense_type,offense_count,beat,premise,block_range,street_name,street_type,suffix
0,2016-12-18 00:00:00,18,Aggravated Assault,1.0,10H10,Residence or House,6300-6399,BRADY,ST,-
1,2016-12-19 00:00:00,9,Theft,1.0,10H10,Residence or House,4900-4999,BRADY,ST,-
2,2016-12-19 00:00:00,16,Theft,1.0,10H10,"Road, Street, or Sidewalk",100-199,YORK,ST,N
3,2016-12-20 00:00:00,8,Theft,1.0,10H10,Commercial Parking Lot or Garage,2400-2499,COMMERCE,ST,-
4,2016-12-20 00:00:00,15,Robbery,1.0,10H10,"Road, Street, or Sidewalk",3500-3599,CANAL,ST,-

In [10]:
# https://stackoverflow.com/questions/28669482/appending-pandas-dataframes-generated-in-a-for-loop
path = 'data/crime_fmt2/'
excel_files = glob.glob(os.path.join(path, "*.xlsx"))
crime_fmt2 = []
for f in excel_files:
    df = pd.read_excel(f,sheet_name=1,header=None,names=["occurrence_date","occurrence_hour","offense_type","offense_count","beat","premise","block_range","street_name","street_type","suffix"])
    print(f)
    print(df.shape)
    crime_fmt2.append(df)
                                   
crime_fmt2_df = pd.concat(crime_fmt2)
crime_fmt2_df.shape
crime_fmt2_df.columns
occurrence_hour_na_count_fmt2= crime_fmt2_df['occurrence_hour'].isna().sum()

print(occurrence_hour_na_count_fmt2)
crime_fmt2_df.tail(5)
#crime_fmt2_df.head(5)

data/crime_fmt2/06-2018.NIBRS_Public_Data_Group_A&B.xlsx
(580, 10)
data/crime_fmt2/09-2018.NIBRS_Public_Data_Group_A&B.xlsx
(20385, 10)
data/crime_fmt2/12-2018.NIBRS_Public_Data_Group_A&B.xlsx
(20399, 10)
data/crime_fmt2/10-2018.NIBRS_Public_Data_Group_A&B.xlsx
(20811, 10)
data/crime_fmt2/11-2018.NIBRS_Public_Data_Group_A&B.xlsx
(19845, 10)
data/crime_fmt2/07-2018.NIBRS_Public_Data_Group_A&B.xlsx
(21088, 10)
data/crime_fmt2/08-2018.NIBRS_Public_Data_Group_A&B.xlsx
(21800, 10)
0

,occurrence_date,occurrence_hour,offense_type,offense_count,beat,premise,block_range,street_name,street_type,suffix
21795,2018-08-31,23,All other larceny,1,5F30,"Parking Lot, Garage",14900-14999,HEMPSTEAD,RD,NaN
21796,2018-08-31,23,Motor vehicle theft,1,5F30,"Parking Lot, Garage",14900-14999,HEMPSTEAD,RD,NaN
21797,2018-08-31,23,Theft from building,1,1A10,"Other, Unknown",1000-1099,AVENIDA DE LAS AMERICAS,NaN,NaN
21798,2018-08-31,23,Theft from building,1,17E40,"Residence, Home (Includes Apartment)",8600-8699,WESTPLACE,DR,NaN
21799,2018-08-31,23,All other larceny,1,21I10,"Airplane, Bus,Train Terminal",2800-2899,TERMINAL,RD,N

In [11]:
crime_fmt2_df.tail(5)

,occurrence_date,occurrence_hour,offense_type,offense_count,beat,premise,block_range,street_name,street_type,suffix
21795,2018-08-31,23,All other larceny,1,5F30,"Parking Lot, Garage",14900-14999,HEMPSTEAD,RD,NaN
21796,2018-08-31,23,Motor vehicle theft,1,5F30,"Parking Lot, Garage",14900-14999,HEMPSTEAD,RD,NaN
21797,2018-08-31,23,Theft from building,1,1A10,"Other, Unknown",1000-1099,AVENIDA DE LAS AMERICAS,NaN,NaN
21798,2018-08-31,23,Theft from building,1,17E40,"Residence, Home (Includes Apartment)",8600-8699,WESTPLACE,DR,NaN
21799,2018-08-31,23,All other larceny,1,21I10,"Airplane, Bus,Train Terminal",2800-2899,TERMINAL,RD,N

In [12]:
path = 'data/crime_fmt3/'
excel_files = glob.glob(os.path.join(path, "*.xlsx"))
crime_fmt3 = []
for f in excel_files:
    df = pd.read_excel(f)
    print(f)
    print(df.shape)
    crime_fmt3.append(df)
                                   
crime_fmt3_df = pd.concat(crime_fmt3)
crime_fmt3_df.shape

crime_fmt3_df.head(5)

data/crime_fmt3/NIBRSPublicViewDec22.xlsx
(249912, 16)
data/crime_fmt3/NIBRSPublicView.Jan1-Dec31-2020.xlsx
(247911, 14)
data/crime_fmt3/2019_NIBRSPublicView.Jan1-Dec31.xlsx
(219034, 14)
data/crime_fmt3/NIBRSPublicViewJul23.xlsx
(147499, 16)
data/crime_fmt3/NIBRSPublicViewDec21.xlsx
(246979, 14)

,Incident,RMSOccurrenceDate,RMSOccurrenceHour,NIBRSClass,NIBRSDescription,OffenseCount,Beat,Premise,StreetNo,StreetName,...,ZIPCode,MapLongitude,MapLatitude,Occurrence\nDate,Occurrence\nHour,NIBRS\nClass,Offense\nCount,Block Range,Street\nType,ZIP Code
0,10322,2022-01-01,0.0,90C,Disorderly conduct,1.0,3B10,"Residence, Home (Includes Apartment)",5500,ANTOINE,...,77091,-95.473227,29.844355,NaT,NaN,NaN,NaN,NaN,NaN,NaN
1,10322,2022-01-01,0.0,520,Weapon law violations,1.0,3B10,"Residence, Home (Includes Apartment)",5500,ANTOINE,...,77091,-95.473227,29.844355,NaT,NaN,NaN,NaN,NaN,NaN,NaN
2,11622,2022-01-01,0.0,290,"Destruction, damage, vandalism",1.0,8C20,"Highway, Road, Street, Alley",7100,LEY,...,77028,-95.302010,29.831370,NaT,NaN,NaN,NaN,NaN,NaN,NaN
3,15122,2022-01-01,0.0,290,"Destruction, damage, vandalism",1.0,11H10,"Residence, Home (Includes Apartment)",6540,AVENUE J,...,77011,-95.308258,29.744464,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,15122,2022-01-01,0.0,520,Weapon law violations,1.0,11H10,"Residence, Home (Includes Apartment)",6540,AVENUE J,...,77011,-95.308258,29.744464,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
print(crime_fmt3_df.columns)
crime_fmt3_df['occurrence_date'] = crime_fmt3_df['Occurrence\nDate'].combine_first(crime_fmt3_df['RMSOccurrenceDate'])
crime_fmt3_df['occurrence_hour'] = crime_fmt3_df['Occurrence\nHour'].combine_first(crime_fmt3_df['RMSOccurrenceHour'])
crime_fmt3_df['offense_count'] = crime_fmt3_df['Offense\nCount'].combine_first(crime_fmt3_df['OffenseCount'])
crime_fmt3_df['street_type'] = crime_fmt3_df['StreetType'].combine_first(crime_fmt3_df['Street\nType'])
crime_fmt3_df.head(10)

Index(['Incident', 'RMSOccurrenceDate', 'RMSOccurrenceHour', 'NIBRSClass',
       'NIBRSDescription', 'OffenseCount', 'Beat', 'Premise', 'StreetNo',
       'StreetName', 'StreetType', 'Suffix', 'City', 'ZIPCode', 'MapLongitude',
       'MapLatitude', 'Occurrence\nDate', 'Occurrence\nHour', 'NIBRS\nClass',
       'Offense\nCount', 'Block Range', 'Street\nType', 'ZIP Code'],
      dtype='object')

,Incident,RMSOccurrenceDate,RMSOccurrenceHour,NIBRSClass,NIBRSDescription,OffenseCount,Beat,Premise,StreetNo,StreetName,...,Occurrence\nHour,NIBRS\nClass,Offense\nCount,Block Range,Street\nType,ZIP Code,occurrence_date,occurrence_hour,offense_count,street_type
0,10322,2022-01-01,0.0,90C,Disorderly conduct,1.0,3B10,"Residence, Home (Includes Apartment)",5500,ANTOINE,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,DR
1,10322,2022-01-01,0.0,520,Weapon law violations,1.0,3B10,"Residence, Home (Includes Apartment)",5500,ANTOINE,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,DR
2,11622,2022-01-01,0.0,290,"Destruction, damage, vandalism",1.0,8C20,"Highway, Road, Street, Alley",7100,LEY,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,RD
3,15122,2022-01-01,0.0,290,"Destruction, damage, vandalism",1.0,11H10,"Residence, Home (Includes Apartment)",6540,AVENUE J,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,NaN
4,15122,2022-01-01,0.0,520,Weapon law violations,1.0,11H10,"Residence, Home (Includes Apartment)",6540,AVENUE J,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,NaN
5,16022,2022-01-01,0.0,520,Weapon law violations,1.0,12D30,"Residence, Home (Includes Apartment)",9031,SHASTA SPRINGS,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,DR
6,16022,2022-01-01,0.0,290,"Destruction, damage, vandalism",1.0,12D30,"Residence, Home (Includes Apartment)",9031,SHASTA SPRINGS,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,DR
7,18022,2022-01-01,0.0,220,"Burglary, Breaking and Entering",1.0,13D20,Convenience Store,7060,BELLFORT,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,ST
8,19522,2022-01-01,0.0,90C,Disorderly conduct,1.0,13D40,"Residence, Home (Includes Apartment)",7734,GREENSWARTH,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,LN
9,20422,2022-01-01,0.0,13B,Simple assault,1.0,6B30,"Highway, Road, Street, Alley",5355,DE SOTO,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-01,0.0,1.0,ST

In [14]:
crime_fmt3_df = crime_fmt3_df.drop(columns=['Incident', 'StreetNo','Occurrence\nDate', 'Occurrence\nHour', 'NIBRS\nClass','NIBRSClass','Offense\nCount','OffenseCount','RMSOccurrenceDate','City','RMSOccurrenceHour','ZIP Code','ZIPCode','MapLongitude', 'MapLatitude','Street\nType','StreetType'])

In [15]:
crime_fmt3_df.head(5)
crime_fmt3_df.columns

Index(['NIBRSDescription', 'Beat', 'Premise', 'StreetName', 'Suffix',
       'Block Range', 'occurrence_date', 'occurrence_hour', 'offense_count',
       'street_type'],
      dtype='object')

In [16]:
crime_fmt3_df = crime_fmt3_df.rename(columns={'NIBRSDescription': 'offense_type', 'Beat': 'beat', 'Premise':'premise','Block Range':'block_range','StreetName':'street_name','Suffix':'suffix'})
crime_fmt3_df.columns

Index(['offense_type', 'beat', 'premise', 'street_name', 'suffix',
       'block_range', 'occurrence_date', 'occurrence_hour', 'offense_count',
       'street_type'],
      dtype='object')

In [17]:
crime_fmt3_df = crime_fmt3_df[['occurrence_date', 'occurrence_hour', 'offense_type', 'offense_count', 'beat','premise','block_range','street_name','street_type','suffix']]
crime_fmt3_df.head(5)
occurrence_hour_na_count_fmt3 = crime_fmt3_df['occurrence_hour'].isna().sum()

print(occurrence_hour_na_count_fmt3)
crime_fmt3_df.tail(5)
crime_fmt3_df.head(5)

0

,occurrence_date,occurrence_hour,offense_type,offense_count,beat,premise,block_range,street_name,street_type,suffix
0,2022-01-01,0.0,Disorderly conduct,1.0,3B10,"Residence, Home (Includes Apartment)",NaN,ANTOINE,DR,NaN
1,2022-01-01,0.0,Weapon law violations,1.0,3B10,"Residence, Home (Includes Apartment)",NaN,ANTOINE,DR,NaN
2,2022-01-01,0.0,"Destruction, damage, vandalism",1.0,8C20,"Highway, Road, Street, Alley",NaN,LEY,RD,NaN
3,2022-01-01,0.0,"Destruction, damage, vandalism",1.0,11H10,"Residence, Home (Includes Apartment)",NaN,AVENUE J,NaN,NaN
4,2022-01-01,0.0,Weapon law violations,1.0,11H10,"Residence, Home (Includes Apartment)",NaN,AVENUE J,NaN,NaN

In [18]:
crimes_df_list = [crime_fmt1_df, crime_fmt2_df,crime_fmt3_df]
houston_crime_df = pd.concat(crimes_df_list)
print(houston_crime_df.shape)
houston_crime_df.dropna(subset=['occurrence_hour', 'occurrence_date'], inplace=True)
# houston_crime_df['occurrence_hour'] = pd.to_numeric(houston_crime_df['occurrence_hour'], errors='coerce').astype(int)
print(houston_crime_df.shape)
print(houston_crime_df.columns)
print(houston_crime_df.tail(5))
houston_crime_df.dtypes
#houston_crime_df['occurrence_hour'] = houston_crime_df['occurrence_hour'].str.replace("'",'')
#houston_crime_df['occurrence_hour'] = houston_crime_df['occurrence_hour'].str.replace(r"\'", '')
houston_crime_df['occurrence_hour'] = houston_crime_df['occurrence_hour'].replace(regex=True,inplace=False,to_replace=r'\'',value=r'')
occurrence_hour_na_count = houston_crime_df['occurrence_hour'].isna().sum()
print(houston_crime_df.tail(5))
print(occurrence_hour_na_count)
#houston_crime_df['occurrence_hour'].fillna(-1, inplace=True)
houston_crime_df['occurrence_hour'] = houston_crime_df['occurrence_hour'].astype('int')
houston_crime_df['occurrence_date'] = houston_crime_df['occurrence_date'].astype('object')

(2289589, 10)
(2289584, 10)
Index(['occurrence_date', 'occurrence_hour', 'offense_type', 'offense_count',
       'beat', 'premise', 'block_range', 'street_name', 'street_type',
       'suffix'],
      dtype='object')
            occurrence_date occurrence_hour                    offense_type  \
246974  2021-12-31 00:00:00            23.0              Aggravated Assault
246975  2021-12-31 00:00:00            23.0           Weapon law violations
246976  2021-12-31 00:00:00            23.0  Destruction, damage, vandalism
246977  2021-12-31 00:00:00            23.0              All other offenses
246978  2021-12-31 00:00:00            23.0                  Simple assault

        offense_count   beat                               premise  \
246974            1.0  13D40  Residence, Home (Includes Apartment)
246975            1.0   8C30          Highway, Road, Street, Alley
246976            1.0  11H20                  Service, Gas Station
246977            1.0   6B40  Residence, Home (Includes Apartment)
246978            1.0  19G50  Residence, Home (Includes Apartment)

       block_range  street_name street_type suffix
246974         NaN  SAM HOUSTON        PKWY      S
246975         NaN   FLINTRIDGE          DR    NaN
246976         NaN     BROADWAY          ST    NaN
246977         NaN       MAXROY          ST    NaN
246978         NaN  SAM HOUSTON        PKWY      W
            occurrence_date occurrence_hour                    offense_type  \
246974  2021-12-31 00:00:00            23.0              Aggravated Assault
246975  2021-12-31 00:00:00            23.0           Weapon law violations
246976  2021-12-31 00:00:00            23.0  Destruction, damage, vandalism
246977  2021-12-31 00:00:00            23.0              All other offenses
246978  2021-12-31 00:00:00            23.0                  Simple assault

        offense_count   beat                               premise  \
246974            1.0  13D40  Residence, Home (Includes Apartment)
246975            1.0   8C30          Highway, Road, Street, Alley
246976            1.0  11H20                  Service, Gas Station
246977            1.0   6B40  Residence, Home (Includes Apartment)
246978            1.0  19G50  Residence, Home (Includes Apartment)

       block_range  street_name street_type suffix
246974         NaN  SAM HOUSTON        PKWY      S
246975         NaN   FLINTRIDGE          DR    NaN
246976         NaN     BROADWAY          ST    NaN
246977         NaN       MAXROY          ST    NaN
246978         NaN  SAM HOUSTON        PKWY      W
0

In [19]:
houston_crime_df['occurrence_date'] = pd.to_datetime(houston_crime_df['occurrence_date'],
                                                     format='%Y-%m-%d', errors='coerce', utc=True)
houston_crime_df.head(10)

In [21]:
houston_weather_df = pd.read_csv('data/weather/houston_weather.csv',skiprows=3);
houston_weather_df.head(10)

,time,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),weathercode (wmo code),surface_pressure (hPa),...,cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),et0_fao_evapotranspiration (mm),vapor_pressure_deficit (kPa),windspeed_10m (km/h),windgusts_10m (km/h),is_day (),direct_radiation (W/m²),diffuse_radiation (W/m²)
0,2010-01-01T00:00,14.3,81.0,11.1,13.2,0.0,0.0,0.0,3.0,1018.0,...,57.0,66.0,0.0,0.04,0.31,9.5,13.7,0,1.0,3.0
1,2010-01-01T01:00,13.8,84.0,11.1,13.0,0.3,0.3,0.0,51.0,1018.9,...,36.0,90.0,0.0,0.00,0.26,7.6,18.7,0,0.0,0.0
2,2010-01-01T02:00,13.1,86.0,10.9,11.7,0.1,0.1,0.0,51.0,1020.1,...,92.0,86.0,0.0,0.00,0.21,11.5,18.0,0,0.0,0.0
3,2010-01-01T03:00,12.9,89.0,11.1,10.3,0.0,0.0,0.0,3.0,1021.3,...,98.0,70.0,0.0,0.01,0.17,19.9,17.6,0,0.0,0.0
4,2010-01-01T04:00,12.3,91.0,10.8,9.4,0.0,0.0,0.0,3.0,1022.1,...,99.0,29.0,0.0,0.01,0.13,21.3,34.2,0,0.0,0.0
5,2010-01-01T05:00,11.0,93.0,9.8,7.7,0.0,0.0,0.0,3.0,1023.0,...,100.0,2.0,0.0,0.00,0.10,21.9,42.8,0,0.0,0.0
6,2010-01-01T06:00,9.9,92.0,8.6,6.0,0.0,0.0,0.0,3.0,1023.7,...,100.0,0.0,0.0,0.01,0.10,24.3,44.6,0,0.0,0.0
7,2010-01-01T07:00,8.7,88.0,6.7,4.2,0.0,0.0,0.0,3.0,1024.6,...,98.0,0.0,0.0,0.01,0.14,24.5,45.0,0,0.0,0.0
8,2010-01-01T08:00,7.8,86.0,5.6,3.1,0.0,0.0,0.0,3.0,1025.0,...,100.0,0.0,0.0,0.02,0.15,24.3,44.6,0,0.0,0.0
9,2010-01-01T09:00,7.3,85.0,4.9,2.9,0.0,0.0,0.0,3.0,1025.3,...,100.0,0.0,0.0,0.02,0.16,21.2,43.9,0,0.0,0.0

In [22]:
houston_weather_df.dtypes
houston_weather_df['time_str'] = houston_weather_df['time'] + '-05:00'
houston_weather_df['time'] = pd.to_datetime(houston_weather_df['time_str'], utc=True)
houston_weather_df.dtypes

time                               datetime64[ns, UTC]
temperature_2m (°C)                            float64
relativehumidity_2m (%)                        float64
dewpoint_2m (°C)                               float64
apparent_temperature (°C)                      float64
precipitation (mm)                             float64
rain (mm)                                      float64
snowfall (cm)                                  float64
weathercode (wmo code)                         float64
surface_pressure (hPa)                         float64
cloudcover (%)                                 float64
cloudcover_low (%)                             float64
cloudcover_mid (%)                             float64
cloudcover_high (%)                            float64
et0_fao_evapotranspiration (mm)                float64
vapor_pressure_deficit (kPa)                   float64
windspeed_10m (km/h)                           float64
windgusts_10m (km/h)                           float64
is_day ()                                        int64
direct_radiation (W/m²)                        float64
diffuse_radiation (W/m²)                       float64
time_str                                        object
dtype: object

In [23]:
houston_weather_df = houston_weather_df.assign(
    occurrence_date=houston_weather_df["time"].dt.date, 
    occurrence_hour=houston_weather_df["time"].dt.hour
)

In [24]:
houston_weather_df['occurrence_date'] = pd.to_datetime(houston_weather_df['occurrence_date'],
                                                       format='%Y-%m-%d', errors='coerce', utc=True)

In [25]:
houston_weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119928 entries, 0 to 119927
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   time                             119928 non-null  datetime64[ns, UTC]
 1   temperature_2m (°C)              119880 non-null  float64
 2   relativehumidity_2m (%)          119880 non-null  float64
 3   dewpoint_2m (°C)                 119880 non-null  float64
 4   apparent_temperature (°C)        119880 non-null  float64
 5   precipitation (mm)               119880 non-null  float64
 6   rain (mm)                        119880 non-null  float64
 7   snowfall (cm)                    119880 non-null  float64
 8   weathercode (wmo code)           119880 non-null  float64
 9   surface_pressure (hPa)           119880 non-null  float64
 10  cloudcover (%)                   119880 non-null  float64
 11  cloudcover_low (%)               119880 non-null  float64
 12  cloudcover_mid (%)               119880 non-null  float64
 13  cloudcover_high (%)              119880 non-null  float64
 14  et0_fao_evapotranspiration (mm)  119880 non-null  float64
 15  vapor_pressure_deficit (kPa)     119880 non-null  float64
 16  windspeed_10m (km/h)             119880 non-null  float64
 17  windgusts_10m (km/h)             119880 non-null  float64
 18  is_day ()                        119928 non-null  int64
 19  direct_radiation (W/m²)          119880 non-null  float64
 20  diffuse_radiation (W/m²)         119880 non-null  float64
 21  time_str                         119928 non-null  object
 22  occurrence_date                  119928 non-null  datetime64[ns, UTC]
 23  occurrence_hour                  119928 non-null  int32
dtypes: datetime64[ns, UTC](2), float64(19), int32(1), int64(1), object(1)
memory usage: 21.5+ MB

In [26]:
houston_weather_df.head(5)
houston_weather_df = houston_weather_df.drop(['time'], axis=1)
houston_weather_df.columns

Index(['temperature_2m (°C)', 'relativehumidity_2m (%)', 'dewpoint_2m (°C)',
       'apparent_temperature (°C)', 'precipitation (mm)', 'rain (mm)',
       'snowfall (cm)', 'weathercode (wmo code)', 'surface_pressure (hPa)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'et0_fao_evapotranspiration (mm)',
       'vapor_pressure_deficit (kPa)', 'windspeed_10m (km/h)',
       'windgusts_10m (km/h)', 'is_day ()', 'direct_radiation (W/m²)',
       'diffuse_radiation (W/m²)', 'time_str', 'occurrence_date',
       'occurrence_hour'],
      dtype='object')

In [27]:
houston_weather_df = houston_weather_df[['occurrence_date', 'occurrence_hour', 'temperature_2m (°C)', 'relativehumidity_2m (%)',
       'dewpoint_2m (°C)', 'apparent_temperature (°C)', 'precipitation (mm)',
       'rain (mm)', 'snowfall (cm)', 'weathercode (wmo code)',
       'surface_pressure (hPa)', 'cloudcover (%)', 'cloudcover_low (%)',
       'cloudcover_mid (%)', 'cloudcover_high (%)',
       'et0_fao_evapotranspiration (mm)', 'vapor_pressure_deficit (kPa)',
       'windspeed_10m (km/h)', 'windgusts_10m (km/h)', 'is_day ()',
       'direct_radiation (W/m²)', 'diffuse_radiation (W/m²)']]
houston_weather_df.columns

Index(['occurrence_date', 'occurrence_hour', 'temperature_2m (°C)',
       'relativehumidity_2m (%)', 'dewpoint_2m (°C)',
       'apparent_temperature (°C)', 'precipitation (mm)', 'rain (mm)',
       'snowfall (cm)', 'weathercode (wmo code)', 'surface_pressure (hPa)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'et0_fao_evapotranspiration (mm)',
       'vapor_pressure_deficit (kPa)', 'windspeed_10m (km/h)',
       'windgusts_10m (km/h)', 'is_day ()', 'direct_radiation (W/m²)',
       'diffuse_radiation (W/m²)'],
      dtype='object')

In [28]:
houston_weather_df.head(5)

,occurrence_date,occurrence_hour,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),weathercode (wmo code),...,cloudcover_low (%),cloudcover_mid (%),cloudcover_high (%),et0_fao_evapotranspiration (mm),vapor_pressure_deficit (kPa),windspeed_10m (km/h),windgusts_10m (km/h),is_day (),direct_radiation (W/m²),diffuse_radiation (W/m²)
0,2010-01-01 00:00:00+00:00,5,14.3,81.0,11.1,13.2,0.0,0.0,0.0,3.0,...,57.0,66.0,0.0,0.04,0.31,9.5,13.7,0,1.0,3.0
1,2010-01-01 00:00:00+00:00,6,13.8,84.0,11.1,13.0,0.3,0.3,0.0,51.0,...,36.0,90.0,0.0,0.00,0.26,7.6,18.7,0,0.0,0.0
2,2010-01-01 00:00:00+00:00,7,13.1,86.0,10.9,11.7,0.1,0.1,0.0,51.0,...,92.0,86.0,0.0,0.00,0.21,11.5,18.0,0,0.0,0.0
3,2010-01-01 00:00:00+00:00,8,12.9,89.0,11.1,10.3,0.0,0.0,0.0,3.0,...,98.0,70.0,0.0,0.01,0.17,19.9,17.6,0,0.0,0.0
4,2010-01-01 00:00:00+00:00,9,12.3,91.0,10.8,9.4,0.0,0.0,0.0,3.0,...,99.0,29.0,0.0,0.01,0.13,21.3,34.2,0,0.0,0.0

In [29]:
houston_weather_df.to_csv('out/houston_weather.csv')
houston_crime_df.to_csv('out/houston_crime.csv')

In [30]:
houston_weather_df.dtypes

occurrence_date                    datetime64[ns, UTC]
occurrence_hour                                  int32
temperature_2m (°C)                            float64
relativehumidity_2m (%)                        float64
dewpoint_2m (°C)                               float64
apparent_temperature (°C)                      float64
precipitation (mm)                             float64
rain (mm)                                      float64
snowfall (cm)                                  float64
weathercode (wmo code)                         float64
surface_pressure (hPa)                         float64
cloudcover (%)                                 float64
cloudcover_low (%)                             float64
cloudcover_mid (%)                             float64
cloudcover_high (%)                            float64
et0_fao_evapotranspiration (mm)                float64
vapor_pressure_deficit (kPa)                   float64
windspeed_10m (km/h)                           float64
windgusts_10m (km/h)                           float64
is_day ()                                        int64
direct_radiation (W/m²)                        float64
diffuse_radiation (W/m²)                       float64
dtype: object

In [31]:
houston_crime_df.dtypes

occurrence_date    datetime64[ns, UTC]
occurrence_hour                  int64
offense_type                    object
offense_count                  float64
beat                            object
premise                         object
block_range                     object
street_name                     object
street_type                     object
suffix                          object
dtype: object

In [32]:
houston_weather_crime_df = pd.merge(houston_weather_df, houston_crime_df,  how='inner', left_on=['occurrence_date','occurrence_hour'], right_on = ['occurrence_date','occurrence_hour'])
houston_weather_crime_df.head(5)
houston_weather_crime_df.shape
houston_weather_crime_df.columns

Index(['occurrence_date', 'occurrence_hour', 'temperature_2m (°C)',
       'relativehumidity_2m (%)', 'dewpoint_2m (°C)',
       'apparent_temperature (°C)', 'precipitation (mm)', 'rain (mm)',
       'snowfall (cm)', 'weathercode (wmo code)', 'surface_pressure (hPa)',
       'cloudcover (%)', 'cloudcover_low (%)', 'cloudcover_mid (%)',
       'cloudcover_high (%)', 'et0_fao_evapotranspiration (mm)',
       'vapor_pressure_deficit (kPa)', 'windspeed_10m (km/h)',
       'windgusts_10m (km/h)', 'is_day ()', 'direct_radiation (W/m²)',
       'diffuse_radiation (W/m²)', 'offense_type', 'offense_count', 'beat',
       'premise', 'block_range', 'street_name', 'street_type', 'suffix'],
      dtype='object')

In [33]:
houston_weather_crime_df.tail(10)

,occurrence_date,occurrence_hour,temperature_2m (°C),relativehumidity_2m (%),dewpoint_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),weathercode (wmo code),...,direct_radiation (W/m²),diffuse_radiation (W/m²),offense_type,offense_count,beat,premise,block_range,street_name,street_type,suffix
2160490,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,"Destruction, damage, vandalism",1.0,1A20,"Parking Lot, Garage",NaN,MONTROSE,BLVD,NaN
2160491,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Simple assault,1.0,20G80,"Residence, Home (Includes Apartment)",NaN,RICHMOND,AVE,NaN
2160492,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Driving under the influence,1.0,2A10,"Highway, Road, Street, Alley",NaN,ELSER,ST,NaN
2160493,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Disorderly conduct,1.0,3B50,"Commercial, Office Building",NaN,LAZARAS,NaN,NaN
2160494,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,"Drug, narcotic violations",1.0,3B50,"Highway, Road, Street, Alley",NaN,FULTON,ST,NaN
2160495,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Motor vehicle theft,1.0,3B50,"Highway, Road, Street, Alley",NaN,FULTON,ST,NaN
2160496,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Trespass of real property,1.0,4F20,"Service, Gas Station",NaN,CLAY,RD,NaN
2160497,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Trespass of real property,1.0,5F30,"Commercial, Office Building",NaN,NORTHWEST,FWY,NaN
2160498,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,Aggravated Assault,1.0,7C20,"Residence, Home (Includes Apartment)",NaN,BAIN,ST,NaN
2160499,2023-07-31 00:00:00+00:00,23,36.9,37.0,20.0,42.3,0.0,0.0,0.0,0.0,...,703.0,129.0,"Burglary, Breaking and Entering",1.0,9C10,"Residence, Home (Includes Apartment)",NaN,CLINTON PARK,ST,NaN

In [34]:
houston_weather_crime_df.to_csv('out/houston_weather_crime.csv')